In [17]:
import pandas as pd

# loading target

In [18]:
with open('./Training/A0001_2_1.txt','r',encoding='utf-8') as f : 
    y = f.readline().strip().removeprefix('\ufeff')
    print(y)

فإن الله تعالى خلق الخلق برحمته، ومن على

In [19]:
def read_y(filename):
    f = filename+'.txt'
    y = f.readline().strip().removeprefix('\ufeff')
    print(y)
    return y

# loading features

In [20]:
df = pd.read_xml('./Training/A0001_2_1.inkml')
df.head(15)

,inkSourceRef,traceFormat,type,annotation,duration,id,trace
0,Tablet PC,NaN,None,None,NaN,None,None
1,None,NaN,None,None,NaN,None,None
2,None,NaN,WriterName,Baligh,NaN,None,None
3,None,NaN,WriterAge,33,NaN,None,None
4,None,NaN,WriterCountry,Yemen,NaN,None,None
5,None,NaN,WriterQualification,University,NaN,None,None
6,None,NaN,WriterGender,Male,NaN,None,None
7,None,NaN,WriterHandedness,Right,NaN,None,None
8,None,NaN,penDown,None,672.0,id001,"39 68 1 0,39 68 28 0,39 68 57 16,39 68 86 16,3..."
9,None,NaN,penDown,None,93.0,id002,"43 59 23 0,42 56 57 0,42 56 92 31,42 56 125 31..."
10,None,NaN,penDown,None,157.0,id003,"55 97 10 0,55 97 41 0,55 97 71 31,56 97 101 31..."
11,None,NaN,penDown,None,281.0,id004,"90 80 5 0,90 79 36 0,91 78 67 16,91 77 99 16,9..."
12,None,NaN,penDown,None,78.0,id005,"102 59 29 0,102 59 62 16,102 59 95 16,103 58 1..."
13,None,NaN,penDown,None,140.0,id006,"155 88 40 0,154 86 75 0,154 83 109 15,153 81 1..."
14,None,NaN,penDown,None,546.0,id007,"170 75 36 0,170 72 68 15,170 69 101 15,170 66 ..."

In [21]:
df.tail(2)

,inkSourceRef,traceFormat,type,annotation,duration,id,trace
32,None,NaN,penDown,None,110.0,id025,"916 107 36 0,915 106 69 15,915 105 101 15,914 ..."
33,None,NaN,penDown,None,797.0,id026,"965 126 34 0,965 125 64 0,965 124 93 16,965 12..."

In [22]:
df['type'].value_counts()

penDown                26
WriterName              1
WriterAge               1
WriterCountry           1
WriterQualification     1
WriterGender            1
WriterHandedness        1
Name: type, dtype: int64

In [23]:
df.loc[8,'trace'].split(',')
# X , Y , Pressure , TimerTick

['39 68 1 0',
 '39 68 28 0',
 '39 68 57 16',
 '39 68 86 16',
 '39 68 94 31',
 '39 68 101 31',
 '39 68 107 47',
 '39 68 112 47',
 '40 71 114 62',
 '40 71 117 62',
 '42 72 117 62',
 '42 72 118 78',
 '44 73 117 78',
 '44 73 117 94',
 '45 73 117 94',
 '46 73 117 109',
 '46 73 117 109',
 '46 72 117 125',
 '46 72 119 125',
 '46 72 118 141',
 '46 72 120 141',
 '46 72 121 156',
 '46 72 123 156',
 '45 70 124 172',
 '45 70 126 172',
 '45 70 127 187',
 '44 70 126 187',
 '44 70 127 203',
 '45 70 125 203',
 '45 70 125 219',
 '46 71 123 219',
 '46 71 123 234',
 '47 72 122 234',
 '47 72 122 234',
 '47 72 122 250',
 '47 72 123 250',
 '47 72 124 266',
 '47 72 125 266',
 '47 72 127 281',
 '47 72 128 281',
 '47 72 130 297',
 '44 70 132 297',
 '44 70 133 312',
 '44 71 133 312',
 '44 71 133 328',
 '44 72 133 328',
 '45 73 132 344',
 '46 74 132 344',
 '47 75 131 359',
 '48 76 131 359',
 '49 77 131 375',
 '50 78 132 375',
 '51 79 132 391',
 '52 79 133 391',
 '52 80 134 422',
 '53 80 135 422',
 '53 80 136 422',
 '54 81 137 422',
 '54 81 138 422',
 '54 81 139 437',
 '55 81 141 437',
 '55 81 142 453',
 '56 81 144 453',
 '56 81 145 469',
 '57 80 146 484',
 '57 80 148 484',
 '57 79 149 484',
 '57 78 150 500',
 '57 78 151 500',
 '58 77 152 516',
 '58 76 153 516',
 '58 75 153 531',
 '58 73 154 531',
 '58 72 154 547',
 '58 70 155 547',
 '59 68 154 562',
 '59 65 155 562',
 '60 63 154 578',
 '61 61 155 578',
 '62 58 155 594',
 '62 56 155 594',
 '63 55 155 609',
 '64 53 155 609',
 '65 52 153 609',
 '65 51 150 625',
 '65 51 143 625',
 '65 51 121 641',
 '65 53 87 656',
 '64 54 52 656',
 '63 55 16 672']

In [32]:
l = df.loc[8,'trace'].split(',')
final = []
for i in l : 
    line = i.split()
    clean = [int(col) for col in line ]
    final.append(clean)
print(final)

[[39, 68, 1, 0], [39, 68, 28, 0], [39, 68, 57, 16], [39, 68, 86, 16], [39, 68, 94, 31], [39, 68, 101, 31], [39, 68, 107, 47], [39, 68, 112, 47], [40, 71, 114, 62], [40, 71, 117, 62], [42, 72, 117, 62], [42, 72, 118, 78], [44, 73, 117, 78], [44, 73, 117, 94], [45, 73, 117, 94], [46, 73, 117, 109], [46, 73, 117, 109], [46, 72, 117, 125], [46, 72, 119, 125], [46, 72, 118, 141], [46, 72, 120, 141], [46, 72, 121, 156], [46, 72, 123, 156], [45, 70, 124, 172], [45, 70, 126, 172], [45, 70, 127, 187], [44, 70, 126, 187], [44, 70, 127, 203], [45, 70, 125, 203], [45, 70, 125, 219], [46, 71, 123, 219], [46, 71, 123, 234], [47, 72, 122, 234], [47, 72, 122, 234], [47, 72, 122, 250], [47, 72, 123, 250], [47, 72, 124, 266], [47, 72, 125, 266], [47, 72, 127, 281], [47, 72, 128, 281], [47, 72, 130, 297], [44, 70, 132, 297], [44, 70, 133, 312], [44, 71, 133, 312], [44, 71, 133, 328], [44, 72, 133, 328], [45, 73, 132, 344], [46, 74, 132, 344], [47, 75, 131, 359], [48, 76, 131, 359], [49, 77, 131, 375], [50, 78, 132, 375], [51, 79, 132, 391], [52, 79, 133, 391], [52, 80, 134, 422], [53, 80, 135, 422], [53, 80, 136, 422], [54, 81, 137, 422], [54, 81, 138, 422], [54, 81, 139, 437], [55, 81, 141, 437], [55, 81, 142, 453], [56, 81, 144, 453], [56, 81, 145, 469], [57, 80, 146, 484], [57, 80, 148, 484], [57, 79, 149, 484], [57, 78, 150, 500], [57, 78, 151, 500], [58, 77, 152, 516], [58, 76, 153, 516], [58, 75, 153, 531], [58, 73, 154, 531], [58, 72, 154, 547], [58, 70, 155, 547], [59, 68, 154, 562], [59, 65, 155, 562], [60, 63, 154, 578], [61, 61, 155, 578], [62, 58, 155, 594], [62, 56, 155, 594], [63, 55, 155, 609], [64, 53, 155, 609], [65, 52, 153, 609], [65, 51, 150, 625], [65, 51, 143, 625], [65, 51, 121, 641], [65, 53, 87, 656], [64, 54, 52, 656], [63, 55, 16, 672]]